<form [formGroup]="accountCreationForm" (ngSubmit)="onSubmit()">
  <formly-form [model]="accountCreationData" [fields]="fields" [form]="accountCreationForm">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
      <button type="button" mat-stroked-button (click)="onCancel()">CANCEL</button>
      <!-- TBH I don't like this but it's the best I can do when short on time  -->
      <button type="submit" [disabled]="!departments?.length" mat-flat-button color="primary">
        CREATE
      </button>
    </div>
  </formly-form>
</form>
