<dacs-page-container size="small">

  <dacs-page-header title="Transaction report">
  </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-report-filter-description [filter]="report.filter">

    </dacs-fe-report-filter-description>
    
    <dacs-fe-report-dashboard [summary]="report.summary">

    </dacs-fe-report-dashboard>


    <dacs-fe-report-details [details]="report.details">

    </dacs-fe-report-details>


  </dacs-page-content>

</dacs-page-container>
