<dacs-slider-panel [activePanel]="activePanel">
  <ng-container leftPanel>
    <form [formGroup]="transactionCreationForm" (ngSubmit)="onSubmit()" #form="ngForm">
      <formly-form
        [model]="transactionCreationData"
        [fields]="fields"
        [form]="transactionCreationForm"
      >
        <div *ngIf="displayButtons" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
          <ng-content *ngTemplateOutlet="cancelButton"> </ng-content>
          <ng-content *ngTemplateOutlet="saveButton"> </ng-content>
        </div>
      </formly-form>
    </form>
    <button type="button" mat-stroked-button (click)="onAttachImageClicked()">ATTACH IMAGE</button>
  </ng-container>

  <div rightPanel fxFlex fxLayout="column" fxLayoutAlign="space-around stretch">
    <dacs-fe-image-upload-wizard (selectedPicture)="onImageConfirmed($event)" fxFlex>
    </dacs-fe-image-upload-wizard>
    <!-- this weird thing here is just so it looks nice, I hope... -->
    <div fxLayout="row">
      <button type="button" mat-stroked-button (click)="onAttachImageBackClicked()">
        BACK
      </button>
      <span fxFlexFill></span>
    </div>
  </div>
</dacs-slider-panel>

<ng-template #cancelButton>
  <button type="button" mat-stroked-button (click)="onCancel()">CANCEL</button>
</ng-template>
<ng-template #saveButton>
  <button type="button" mat-flat-button color="primary" (click)="form.onSubmit()">CREATE</button>
</ng-template>
