<dacs-page-container size="small">

  <dacs-page-header title="New category">
  </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-category-definition-creation (save)="onCategoryDefinitionSave($event)" (cancel)="onCancel()">
    </dacs-fe-category-definition-creation>

  </dacs-page-content>

</dacs-page-container>
