<mat-progress-bar *ngIf="visible; else placeholder"
                  [mode]="mode"
                  [value]="value"
                  [color]="color"> </mat-progress-bar>
<ng-template #placeholder>
  <div class="bar-placeholder"></div>
</ng-template>
