<h2 mat-dialog-title>{{dialogData.title}}</h2>

<mat-dialog-content *ngIf="dialogData.body" class="mat-typography">
  <p>{{dialogData.body}}</p>
</mat-dialog-content>

<div mat-dialog-actions fxLayout fxLayoutAlign="end" fxLayoutGap="5px">
  <button mat-button color="primary" (click)="onNoClicked()" cdkFocusInitial>{{ dialogData.noLabel || 'No'}}</button>
  <button mat-button color="warn" (click)="onYesClicked()">{{ dialogData.yesLabel || 'Yes'}}</button>
</div>
