<dacs-page-container [loading]="!(loaded$ |async)"
                     [refreshing]="isLoading$ | async">

  <dacs-page-header title="Category definitions"> </dacs-page-header>

  <dacs-page-content>
    <!-- Overflow-x auto +  fxFlex="1 0 500px"  = the table is at least 500px AND the card does not break-->
    <div style="overflow-x: auto; margin-top: 10px">
      <dacs-category-definition-list fxFlex="1 0 500px"
                                     [categoryDefinitions]="categoryDefinitions$ | async"
                                     (update)="onUpdate($event)"
                                     (delete)="onDelete($event)">
      </dacs-category-definition-list>
    </div>
  </dacs-page-content>

</dacs-page-container>
