<div *ngIf="enableFiltering" fxLayout fxLayoutAlign="flex-end">
  <mat-form-field fxFlex="20%">
    <mat-icon matSuffix>search</mat-icon>
    <input matInput type="text" (keyup)="keyUp.next($event.target.value)" placeholder="Quick search">
  </mat-form-field>
</div>

<mat-table matSort>

  <ng-container matColumnDef="index">
    <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index;">{{i}}</mat-cell>
  </ng-container>

  <ng-container *ngFor="let column of simpleColumns" [matColumnDef]="column.header">
    <mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!enableSorting">{{column.header}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <dacs-highlighter [search]="filter" [text]="resolveValue(row, column)">
      </dacs-highlighter>
    </mat-cell>
  </ng-container>

  <ng-container *ngFor="let column of commandColumns" [matColumnDef]="column.header">
    <mat-header-cell *matHeaderCellDef>{{column.header}}
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <ng-container *ngTemplateOutlet="column.template; context: {$implicit:row}">
      </ng-container>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames"></mat-row>
</mat-table>

<mat-paginator *ngIf="enablePagination" #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100, 250]">
</mat-paginator>
