<dacs-page-container size="small"
                     [refreshing]="loading$ | async">

  <dacs-page-header title="Update transaction">
  </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-transaction-update [transaction]="selected$ | async"
                                [readonly]="loading$ | async"
                                (save)="onTransactionSave($event)"
                                (cancel)="onCancel()">
    </dacs-fe-transaction-update>

  </dacs-page-content>

</dacs-page-container>
