<mat-sidenav-container fxFlexFill class="mat-typography">
  <mat-sidenav [opened]="opened" fxLayout="column" color="primary" mode="side">
    <mat-nav-list>
      <h2 matSubheader>
        Transactions
      </h2>

      <a
        (click)="toggle()"
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="transactions"
      >
        <mat-icon class="sidebar--icon" matListIcon>receipt_long </mat-icon>
        List
      </a>

      <h2 matSubheader>
        Accounts
      </h2>

      <a (click)="toggle()" mat-list-item routerLinkActive="list-item-active" routerLink="accounts">
        <mat-icon class="sidebar--icon" matListIcon>account_balance </mat-icon>
        List
      </a>

      <a
        (click)="toggle()"
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="accounts/new"
      >
        <mat-icon class="sidebar--icon" matListIcon>assignment_turned_in</mat-icon>
        New
      </a>

      <h2 matSubheader>Categories</h2>

      <a
        (click)="toggle()"
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="category-definitions"
      >
        <mat-icon class="sidebar--icon" matListIcon> view_list </mat-icon>
        List
      </a>

      <a
        (click)="toggle()"
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="category-definitions/new"
      >
        <mat-icon class="sidebar--icon" matListIcon>local_offer </mat-icon>
        New
      </a>

      <h2 matSubheader>Departments</h2>

      <a
        (click)="toggle()"
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="departments"
      >
        <mat-icon class="sidebar--icon" matListIcon> group </mat-icon>
        List
      </a>

      <a
        (click)="toggle()"
        mat-list-item
        routerLinkActive="list-item-active"
        routerLink="departments/new"
      >
        <mat-icon class="sidebar--icon" matListIcon>person_add </mat-icon>
        New
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlex>
    <dacs-main-content-container> </dacs-main-content-container>
  </mat-sidenav-content>
</mat-sidenav-container>
