<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  fxLayoutGap="5px"
  *ngIf="previewSize$ | async as previewSize"
>
  <ng-container *ngIf="showCropper; else croppingConfirmation">
    <div fxFlex="nogrow">
      <image-cropper
        [imageBase64]="base64ImageSrc"
        [maintainAspectRatio]="maintainAspectRatio"
        [aspectRatio]="4 / 3"
        [canvasRotation]="imageRotation"
        [autoCrop]="false"
      ></image-cropper>
    </div>

    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">
      <button
        class="cropper__button"
        mat-icon-button
        color="primary"
        (click)="onCropImageClicked()"
      >
        <mat-icon>crop</mat-icon>
      </button>
      <button class="cropper__button" mat-icon-button color="accent" (click)="rotateImage(-1)">
        <mat-icon>rotate_left</mat-icon>
      </button>
      <button class="cropper__button" mat-icon-button color="accent" (click)="rotateImage(1)">
        <mat-icon>rotate_right</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-template #croppingConfirmation>
    <img
      [src]="this.croppedImageData.base64"
      [ngStyle]="{ height: previewSize.pxHeight, width: previewSize.pxWidth }"
    />
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between">
      <button fxFlex="none" mat-raised-button (click)="onResetClicked()">
        Reset
      </button>
      <button fxFlex="none" mat-raised-button color="primary" (click)="onConfirmClicked()">
        Confirm
      </button>
    </div>
  </ng-template>
</div>
