<form [formGroup]="categoryDefinitionUpdateForm" (ngSubmit)="onSubmit()">
  <formly-form [model]="categoryDefinitionUpdateData" [fields]="fields" [form]="categoryDefinitionUpdateForm">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
      <button type="button" mat-stroked-button (click)="onCancel()">CANCEL</button>
      <button type="submit" mat-flat-button color="primary">SAVE</button>
    </div>
  </formly-form>
</form>
