<div id="fab-dismiss"
     *ngIf="fabTogglerState==='active' && activeButtons.length > 1"
     (click)="onToggleFab()">
</div>
<div class="fab-container">
  <ng-container *ngIf="activeButtons.length > 1; else singleButton">
    <button mat-fab
            class="fab-toggler"
            (click)="onToggleFab()">
      <mat-icon [@fabToggler]="{value: fabTogglerState}">add</mat-icon>
    </button>
    <div [@speedDialStagger]="visibleButtons.length">
      <button *ngFor="let button of visibleButtons"
              mat-fab
              [matTooltip]="button.tooltip"
              [matTooltipPosition]="'left'"
              [matTooltipClass]="'mat-h3'"
              (click)="executeCallback(button)"
              [color]="button.color">
        <mat-icon>{{button.icon}}</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #singleButton>
    <button mat-fab
            class="fab-toggler"
            [matTooltipPosition]="'left'"
            [matTooltipClass]="'mat-h3'"
            [matTooltip]="activeButtons[0].tooltip"
            (click)="executeCallback(activeButtons[0])"
            [color]="activeButtons[0].color">
      <mat-icon>{{activeButtons[0].icon}}</mat-icon>
    </button>
  </ng-template>
</div>
