<dacs-page-container size="small"
                     [refreshing]="loading$ | async">

  <dacs-page-header title="New account">
  </dacs-page-header>

  <dacs-page-content>

    <dacs-fe-account-creation (save)="onAccountSave($event)"
                              (cancel)="onCancel()"
                              [departments]="departments$ |async"
                              [currencies]="currencies$ | async">
    </dacs-fe-account-creation>

  </dacs-page-content>

</dacs-page-container>
