<dacs-page-container size="small" [refreshing]="loading$ | async">

  <dacs-page-header title="Update category">
  </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-category-definition-update [categoryDefinition]="selected$ | async" [readonly]="loading$ | async"
      (save)="onCategoryDefinitionSave($event)" (cancel)="onCancel()">
    </dacs-fe-category-definition-update>

  </dacs-page-content>

</dacs-page-container>
