<div class="parent" [@slide]="activePanel">
  <div><ng-content select="[leftPanel]"></ng-content></div>
  <div><ng-content select="[rightPanel]"></ng-content></div>
</div>

<!-- :host {
  display: block;
  overflow: hidden; /* Hide everything that doesn't fit compoennt */
}
.parent {
  height: 100%;
  width: 200%; /* Make the parent element to take up twice
                       of the component's width */
  display: flex; /* Align all children in a row */
  div {
    flex: 1;
  } /* Evenly divide width between children */
} -->
