<dacs-page-container size="small">
  <dacs-page-header title="New department"> </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-department-creation (save)="onDepartmentSave($event)" (cancel)="onCancel()">
    </dacs-fe-department-creation>
  </dacs-page-content>
</dacs-page-container>
