<mat-horizontal-stepper [linear]="true" (selectionChange)="onStepChange($event)" #stepper>
  <mat-step label="Select source" [completed]="!!selectedSource">
    <div
      fxLayout="column"
      fxLayoutAlign="space-around stretch"
      fxLayoutAlign.gt-md="space-around center"
      fxLayoutGap="1%"
    >
      <button mat-raised-button (click)="setSource(PictureSourceTypes.Photo)">
        Take a photo
      </button>
      <button mat-raised-button (click)="setSource(PictureSourceTypes.Upload)">
        Upload from device
      </button>
      <button mat-raised-button (click)="setSource(PictureSourceTypes.URL)">
        Provide a URL
      </button>
    </div>
  </mat-step>
  <!-- publish -->
  <mat-step
    label="Select image"
    [completed]="!!(imageSelected && selectedBase64Image)"
    [ngSwitch]="selectedSource"
  >
    <dacs-fe-photo-taker
      (pictureTaken)="onPictureSelected($event)"
      *ngSwitchCase="PictureSourceTypes.Photo"
    ></dacs-fe-photo-taker>

    <dacs-fe-image-uploader
      (imageUploaded)="onPictureSelected($event)"
      *ngSwitchCase="PictureSourceTypes.Upload"
    ></dacs-fe-image-uploader>

    <dacs-fe-url-image-selector
      (imageConfirmed)="onPictureSelected($event)"
      *ngSwitchCase="PictureSourceTypes.URL"
    ></dacs-fe-url-image-selector>
  </mat-step>
  <!-- source -->
  <mat-step label="Edit image" [completed]="imageEdited">
    <dacs-fe-image-cropper
      (imageCropped)="onPictureConfirmed($event)"
      [base64Image]="selectedBase64Image"
    ></dacs-fe-image-cropper>
  </mat-step>
  <!-- photo_size_select_large -->
</mat-horizontal-stepper>
