<dacs-page-container size="small"
                     [refreshing]="loading$ | async">

  <dacs-page-header title="Update account">
  </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-account-update [account]="selected$ | async"
                            [readonly]="loading$ | async"
                            [currencies]="currencies$ | async"
                            [departments]="departments$ | async"
                            (save)="onAccountSave($event)"
                            (cancel)="onCancel()">
    </dacs-fe-account-update>

  </dacs-page-content>

</dacs-page-container>
