<div style="height: 100vh;width: 100%" fxLayout="column">
  <dacs-navbar fxFlex="64px" (clicked)="onNavbarButtonClicked()">
  </dacs-navbar>
  <dacs-sidebar style="position: relative; overflow-y: auto;" fxFlex [(opened)]="sidebarState">
  </dacs-sidebar>
  <dacs-fab-speed-dial>
  </dacs-fab-speed-dial>
</div>
