  <dacs-data-table [columns]="columns" [items]="accounts">

  </dacs-data-table>

  <ng-template #commandsTemplate let-row>
    <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="5px">
      <button mat-mini-fab class="mat-elevation-z2" (click)="onUpdateClicked(row)" color="primary"
        matTooltip="Update the account">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-mini-fab class="mat-elevation-z2" (click)="onDeleteClicked(row)" color="warn"
        matTooltip="Delete the account">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </ng-template>
