<div
  fxLayout="column"
  fxLayoutAlign="space-between center"
  fxLayoutGap="5px"
  *ngIf="cameraSize$ | async as size"
>
  <webcam
    *ngIf="showCamera; else imagePreview"
    fxFlex="90"
    [trigger]="selfieStick$"
    [width]="size.width"
    [height]="size.height"
    [switchCamera]="cameraSwitch$"
    (imageCapture)="onImageCapture($event)"
    (imageClick)="onImageClick()"
  ></webcam>

  <ng-template #imagePreview>
    <img
      [src]="webcamImage.imageAsDataUrl"
      [ngStyle]="{ height: size.pxHeight, width: size.pxWidth }"
    />
  </ng-template>

  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
    <ng-container *ngIf="showCamera; else confirmationButtons">
      <button class="camera__trigger" mat-icon-button color="primary" (click)="onTriggerClicked()">
        <mat-icon>camera</mat-icon>
      </button>
      <button class="camera__trigger" mat-icon-button (click)="onSwitchCameraClicked()">
        <mat-icon>flip_camera_android</mat-icon>
      </button>
    </ng-container>

    <ng-template #confirmationButtons>
      <button mat-raised-button (click)="onReTakeClicked()">Re-take</button>
      <button mat-raised-button color="primary" (click)="onConfirmClicked()">Confirm</button>
    </ng-template>
  </div>
</div>
