<div mat-dialog-title class="mat-typography" fxLayout fxLayoutAlign="space-between center">
  <h2>New transaction</h2>
  <dacs-spinner [diameter]="40" *ngIf="loading$ | async"></dacs-spinner>
</div>

<mat-dialog-content class="mat-typography">
  <dacs-fe-transaction-creation
    #transactionCreation
    (save)="onTransactionSave($event)"
    (cancel)="onCancel()"
    [categoryDefinitions]="categoryDefinitions$ | async"
    [accounts]="accounts$ | async"
    [displayButtons]="false"
  >
  </dacs-fe-transaction-creation>
</mat-dialog-content>

<div mat-dialog-actions fxLayout fxLayoutAlign="end center" fxLayoutGap="5px">
  <mat-checkbox [(ngModel)]="createAnotherTransaction">Create another?</mat-checkbox>
  <ng-container *ngTemplateOutlet="transactionCreation.cancelButton"> </ng-container>
  <ng-container *ngTemplateOutlet="transactionCreation.saveButton"> </ng-container>
</div>
