<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">

    <button mat-icon-button (click)="onButtonClick()">
      <mat-icon class="mat-24">menu</mat-icon>
    </button>

    <span fxFlex>Finances-everywhere</span>

    <button mat-icon-button routerLink="home">
      <mat-icon class="mat-24">home</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
