<dacs-page-container size="small" [refreshing]="loading$ | async">
  <dacs-page-header title="Update department"> </dacs-page-header>

  <dacs-page-content>
    <dacs-fe-department-update
      [department]="selected$ | async"
      (save)="onDepartmentSave($event)"
      (cancel)="onCancel()"
    >
    </dacs-fe-department-update>
  </dacs-page-content>
</dacs-page-container>
