<form [formGroup]="categoryDefinitionCreationForm" (ngSubmit)="onSubmit()">
  <formly-form [model]="categoryDefinitionCreationData" [fields]="fields" [form]="categoryDefinitionCreationForm">
    <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="5px">
      <button type="button" mat-stroked-button (click)="onCancel()">CANCEL</button>
      <button type="submit" mat-flat-button color="primary">CREATE</button>
    </div>
  </formly-form>
</form>
