<div mat-dialog-title class="mat-typography" fxLayout fxLayoutAlign="space-between center">
  <h2>Transaction attachment</h2>
</div>

<mat-dialog-content class="mat-typography">
  <div
    fxFlexFill
    fxLayout
    fxLayoutAlign="center center"
    *ngIf="loading$ | async; else transactionAttachment"
  >
    <dacs-spinner> </dacs-spinner>
  </div>

  <ng-template #transactionAttachment>
    <dacs-fe-image-viewer
      [base64Image]="(selectedTransaction$ | async).base64AttachmentImage"
    ></dacs-fe-image-viewer>
  </ng-template>
</mat-dialog-content>

<div mat-dialog-actions fxLayout fxLayoutAlign="end center" fxLayoutGap="5px">
  <button mat-raised-button (click)="onCloseClicked()">CLOSE</button>
</div>
