/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0px;
}

html,
body {
  height: 100%;
}

.dacs-dialog-container .mat-dialog-container {
  overflow-y: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield;
  /* Firefox */
}

.search-highlight {
  background: #fff2a8;
}
