<input hidden type="file" #uploader (change)="onFileChange($event)" />

<div
  fxLayout="column"
  fxLayoutAlign="space-between center"
  fxLayoutGap="5px"
  *ngIf="previewSize$ | async as previewSize"
>
  <button
    *ngIf="!selectedImageBase64Src; else imagePreview"
    mat-raised-button
    color="primary"
    (click)="onSelectFileClicked()"
  >
    Select file
  </button>

  <div *ngIf="imageUploadError">
    {{ imageUploadError }}
  </div>

  <ng-template #imagePreview>
    <img
      [src]="selectedImageBase64Src"
      [ngStyle]="{ height: previewSize.pxHeight, width: previewSize.pxWidth }"
    />
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="5px">
      <button mat-raised-button (click)="onChooseAnotherClicked()">Choose another</button>
      <button mat-raised-button color="primary" (click)="onConfirmClicked()">Confirm</button>
    </div>
  </ng-template>
</div>
