<div
  fxLayout="column"
  fxLayoutAlign="space-around center"
  *ngIf="previewSize$ | async as previewSize"
>
  <div
    style="padding: 5px;"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutAlign.gt-md="none center"
    fxLayoutGap="2%"
  >
    <mat-form-field fxFlex>
      <mat-label>URL</mat-label>
      <input matInput type="text" [ngModel]="imageUrl" (ngModelChange)="onUrlChange($event)" />
      <button
        *ngIf="imageUrl"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onClearUrl()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button fxFlex="none" mat-raised-button (click)="onGetPreview()">Get preview</button>
    <button fxFlex="none" mat-raised-button color="primary" (click)="onConfirm()">Confirm</button>
  </div>
  <div *ngIf="showPreview && !!imageUrl" fxFlex="80">
    <img
      #previewImg
      *ngIf="!imagePreviewErrored; else imagePreviewError"
      [src]="imageUrl"
      (error)="onImagePreviewError()"
      [ngStyle]="{ height: previewSize.pxHeight, width: previewSize.pxWidth }"
    />
    <ng-template #imagePreviewError>
      Invalid URL, please try again.
    </ng-template>
  </div>
</div>
