  <div fxFlexFill
       fxLayout
       fxLayoutAlign="center center"
       *ngIf="isLoading; else content">
    <dacs-spinner>
    </dacs-spinner>
  </div>
  <ng-template #content>
    <div style="padding:10px"
         fxLayout="column"
         fxLayoutAlign="stretch">
      <dacs-loading-bar [visible]="refreshing"> </dacs-loading-bar>
      <mat-card class="mat-elevation-z8"
                fxFlex="100%"
                fxFlex.gt-md="75%">
        <!-- <mat-card class="mat-elevation-z8" [fxFlex]="flexBasis"> -->
        <ng-content select="dacs-page-header"></ng-content>
        <ng-content select="dacs-page-content"></ng-content>
      </mat-card>
    </div>
  </ng-template>
