<div class="center">
  <img src="assets\Logo Fe.png">
</div>

<p></p>

<mat-card class="mat-elevation-z8">
  <mat-horizontal-stepper #stepper="matHorizontalStepper">
    <mat-step-header>This is how F-E works</mat-step-header>
    <mat-step>
      <form>
        <ng-template matStepLabel>Account</ng-template>
      </form>
      Create all the accounts for your money.
      <p></p>
      <div class="center">
        <img src="assets\Create Account.png">
      </div>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Category</ng-template>
      </form>
      Create the categories for your transactions. You can specify the amount of money that you can spent in each
      category.
      <p></p>
      <div class="center">
        <img src="assets\Create Category.png">
      </div>
    </mat-step>

    <mat-step>
      <form>
        <ng-template matStepLabel>Transaction</ng-template>
      </form>
      Register all your daily transactions.
      <p></p>
      <div class="center">
        <img src="assets\Create Transaction.png">
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
